@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Merriweather:wght@700&family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Merriweather:wght@700&family=Permanent+Marker&family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Diplomata+SC&family=Merriweather:wght@700&family=Permanent+Marker&family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cinzel:wght@500&family=Diplomata+SC&family=Merriweather:wght@700&family=Permanent+Marker&family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cinzel:wght@500&family=Diplomata+SC&family=Marck+Script&family=Merriweather:wght@700&family=Permanent+Marker&family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cinzel:wght@500&family=Diplomata+SC&family=Marck+Script&family=Merriweather:wght@700&family=Permanent+Marker&family=Roboto:wght@400;700;900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bad+Script&family=Cinzel:wght@500&family=Diplomata+SC&family=Marck+Script&family=Merriweather:wght@700&family=Permanent+Marker&family=Roboto:wght@400;700;900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bad+Script&family=Cinzel:wght@500&family=Diplomata+SC&family=Lobster&family=Marck+Script&family=Merriweather:wght@700&family=Permanent+Marker&family=Roboto:wght@400;700;900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amatic+SC:wght@700&family=Bad+Script&family=Cinzel:wght@500&family=Diplomata+SC&family=Lobster&family=Marck+Script&family=Merriweather:wght@700&family=Permanent+Marker&family=Roboto:wght@400;700;900&family=Shrikhand&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.heading {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./top-bg-2.jpg);
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 10vw;


}

.heading img {
    width: 25vw;
    height: 25vw;
    margin-right: 5rem;

}


.heading h1 {
    color: white;
    font-size: 5.5rem;
    width: max-content;
    font-family: 'Permanent Marker', serif;
    transition: 250ms;


}



.heading h1:hover {
    transform: scale(1.1);
}





.heading p {
    color: grey;
    font-size: 2rem;
    margin-bottom: 12vh;

    background: -webkit-linear-gradient(60deg, gray, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Cinzel', serif;
}


.reviews>h1>span {
    display: block;
}

.company-profile,
.services,
.contact {

    background-color: rgba(0, 0, 0, 0.9);
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 6rem;
    padding: 6vw 10vw;


}

.sub-company {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    color: white;
    max-width: 75%;
}

.sub-company h1 {
    font-size: 4rem;
    margin: 0;
    width: max-content;
}

.company-profile img {
    width: 100%;
    margin: auto;
}

.sub-company p {
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.sub-company button {
    color: white;
    background-color: grey;
    width: max-content;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    outline: 2px solid white;
    transition: ease 250ms;
    border: 2px solid white;

}

.sub-company button:hover {
    outline-offset: -6px;
    cursor: pointer;
}

.reviews {
    padding: 10vw;
    display: flex;
    background-color: #000000;

    justify-content: space-between;
}

.reviews>h1 {
    color: white;

    font-size: 5rem;
    line-height: 8rem;
    margin-top: 0;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.sub-card {
    display: flex;
    gap: 2rem;
}


.reviews img {
    width: 9rem;
    height: 11rem;
    border-radius: 10px;
    transition: ease 250ms;
}

.reviews img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.card-head h1 {
    color: white;
    font-size: 1.6rem;
    font-family: 'Bad Script', serif;
    margin-top: 0;
}

.card-head p {
    color: white;
    font-size: 1.3rem;
}

.card-head span {
    color: grey;
    font-size: 2.3rem;
    font-family: initial;
}





.sub-ser,
.sub-contact {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    width: 70%;
}






.client-img {
    display: flex;
    flex-direction: column;

    gap: 3rem;
    justify-content: center;

}

.client-img img {
    width: 9rem;
    height: 11rem;
    border-radius: 10px;

}

.client-heading {
    padding-inline: 11vw;
    margin-top: 10rem;
}

.client-heading h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.client-heading p {
    width: 50%;
    font-size: 1.5rem;
}

.client-heading h2 {
    margin-top: 4rem;
    font-size: 2.5rem;
    font-family: 'Abril Fatface', serif;

}

.images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    padding: 10vw 9vw;
    padding-bottom: 18rem;

}

.images figure {
    display: flex;
    flex-direction: column;
    width: 20rem;
    border-radius: 1rem;

    box-shadow: -1px 2px 15px 2px #000000;
    position: relative;
    z-index: 1;

    transition: ease 250ms;
}



.images figure::before {
    z-index: -1;
    content: "The gyms in the Profit chain are spread over an area of ​​about 1500 square meters and include: a central hall where there are various fitness facilities of the leading companies STRTRAC, PRECOR and METRIX.";
    font-size: 1.2rem;
    box-shadow: -1px 2px 10px 2px #000000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 1rem;
    transition: transform ease 300ms;
    transition-delay: display 100ms;
    position: absolute;
    background-color: pink;
    display: none;


}

@media screen and (min-width:1000px) {

    .images figure:hover {
        transform: translateY(-55%);
    }

    .images figure:hover::before {
        display: block;
        z-index: 1;
        transform: translateY(110%);
    }
}


.images figcaption {
    background-color: black;
    color: white;
    text-align: center;
    padding-block: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.images img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

}

.mid-heading {
    background-color: rgb(14, 14, 14);
    text-align: center;
    padding: 15vw 10vw;
}

.mid-heading h1 {
    font-size: 4rem;
    color: white;

}

.mid-heading p {
    color: gray;
    font-size: 2.5rem;
}

.together {
    background-color: rgb(14, 14, 14);
    font-size: 2rem;
    padding: 3vw 10vw;
    color: white;
    margin-top: 0;
}

.contact-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

}

.contact img {
    width: 70%;
    margin: auto;
    border-radius: 0.8rem;
}

.sub-contact h2 {
    color: rgb(136, 129, 129);
    font-size: 2.3rem;
    margin: 0;
}

.sub-contact p {
    color: white;
    font-size: 1.5rem;
    margin: 0;
}

footer {
    padding: .5rem 9vw;
    background-color: rgb(206, 201, 201);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-size: 1.2rem;
    color: #000000;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.nav-con {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding-inline: initial;
}

.nav-media img {
    width: 3rem;
    height: 3rem;

}

.nav-media {
    display: flex;
    gap: 10px;


}

.images,
.company-profile,
.contact {
    flex-wrap: wrap;
}

.images span {
    display: none;
}

.nav-top {
    /* position: sticky; */
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgb(169, 165, 165);
    width: 100%;
    margin-block: 0;
    padding: 1rem;
    font-size: 1.4rem;
    gap: 0.5rem;
    color: white;
    /* top: 0; */
}

header {
    position: sticky;
    top: 0;
    opacity: 97%;
}

#check:hover {
    color: #000000;
}


.nav-top img {
    width: 2rem;
    height: 2rem;
}

.left-nav {
    margin-right: auto;
    color: #000000;
}

.left-nav span {
    font-size: 2rem;
    font-family: initial;
}

/* .nav-top #text {
    display: none;

} */
.nav-top il:nth-child(4),
.nav-top il:nth-child(5) {
    border-left: 1px solid black;
    padding-left: .5rem;
}

#inp-text {
    border-radius: 10em;
    max-width: 25vw;
    font-size: inherit;
    padding-inline: 15px;
    display: none;
    /* transition: display 1000ms; */
}

.nav-top a {
    text-decoration: none;
    color: white;
}

.nav-top a:hover {
    text-decoration: underline;
}

#check:focus+#text>#inp-text {
    display: block;
    width: min-content;
}

#inp-text:focus {
    display: block;
}

label:hover {
    color: #000000;
    cursor: pointer;
    text-decoration: underline;

}

input[type='checkbox'] {
    display: none;
}

.nav-top il:nth-child(4):hover>a,
.nav-top il:nth-child(5):hover>a {
    text-decoration: underline;
    cursor: pointer;
    color: #000000;
}

@media screen and (max-width:1000px) {

    html {
        font-size: 3vw;


    }

    .reviews {
        flex-wrap: wrap;
    }

    .heading>img {
        justify-self: flex-start;
        align-self: flex-start;
    }

    .images,
    .reviews,
    .company-profile,
    .contact {
        flex-direction: column;
    }

    .images {
        padding: 9vw 0;
    }


    .reviews>h1>span {
        display: block;
    }



    .heading {
        height: 70vw;
        /* padding-inline: 10vh; */
    }

    .heading p,
    .heading h1 {
        margin-bottom: 1rem;
    }

    .heading h1 {
        font-size: 3rem;
    }

    nav {
        justify-content: center;
        flex-direction: column;
    }

    .nav-media {
        padding: initial;
    }

    .reviews>h1 {
        text-align: center;
    }

    .company-profile {
        display: flex;
        flex-direction: column-reverse;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }





    .sub-card {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .client-heading h2 {
        text-align: center;
    }


    .client-heading p {
        width: 100%;
    }

    /* .images figure {
        transform: translateX(50%);
    }

    .images figure::before {
        transform: translateX(-50%);
    } */
}

@media screen and (max-width:768px) {
    .heading {
        background-image: url(./topbg.jpg);
        transition: ease-in-out 500ms;
        height: auto;
    }

    .heading h1 {
        width: min-content;
        margin-bottom: 20rem;
    }

    .images {
        flex-wrap: nowrap;
    }

    .reviews img {
        width: 50vw;
        height: auto;
    }

    .images figure:hover::before {
        background-color: #000000;
        text-align: center;
        color: white;
        z-index: 0;
        display: block;
        opacity: 0.8;
    }

    .images figure:hover {
        /* opacity: 0.5; */
        z-index: 1;
    }

    .images span {
        background-color: rgb(197, 195, 195);
        font-weight: 600;
        /* color: white; */
        border: 1px solid black;
        border-radius: 10px;
        display: block;
        padding: .5rem 1.5rem;
        margin-block: 2rem 1rem;
        font-size: 1.2rem;
    }

    .images span:hover+figure:before {
        background-color: #000000;
        text-align: center;
        color: white;
        z-index: 0;
        display: block;
        opacity: 0.8;

    }

    .explore {
        display: none;
    }
}